<div class="container">
    {{#each dbArticle}}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
            	<a href="{{this.link}}">{{this.title}}</a>
            </h2>
            
        </div>
        <div class="panel-body" style="{height: 200px;}">
            {{this.summary}}

            {{#if this.note}}
            {{this.note}}
            {{/if}}
            
        </div>
        <form>
            <textarea class="form-control" rows="3"></textarea>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    {{/each}}
</div>