

<div class="jumbotron" style="padding-left: 100px;">
    <h1>New York Times World News</h1>
    <p>Check below for the latest articles</p>
    <p><a class="btn btn-primary btn-lg saved" href="/saved" role="button">See saved articles</a></p>
</div>
<div class="container">
    {{#each results}}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
            	<a href="{{this.link}}">{{this.title}}</a>
            </h2>
            
        </div>
        <div class="panel-body">
            {{this.summary}}
            <button class="btn btn-default pull-right btn-sm saveArticle">Save</button>
        </div>
    </div>
    {{/each}}
</div>